body {
    background-color: gray;
  }
  #farm{
    display: flex;
    justify-content: center;
  }
  div{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 85px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h1{
    text-align: center;
    display: block;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .catObject {
    background-color: lightblue;
    border: solid black 4px;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  .dogObject {
    background-color: #fffc9c;
    border: 4px solid #fffb78;
    border-radius: 50%;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  .sheepObject {
    background-color: lightgreen;
    border: 4px solid green;
    border-radius: 50%;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  .horseObject {
    background-color: violet;
    border: 3px solid purple;
    border-radius: 50%;
    padding: 50px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }